# DATABASE (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=fintech_user
DB_PASSWORD=tu_password_seguro
DB_DATABASE=fintech_db

# JWT
JWT_SECRET=reemplaza_con_secreto_aleatorio_largo
JWT_EXPIRES_IN=15m

# APP
PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# FILES
UPLOAD_DIR=./uploads

# EMAIL
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_app_password
EMAIL_FROM=noreply@fintech.edu.pe
